:root {
    --color-primary: #4C6B4C;
    --color-secondary: #088406;
    --color-success: #84c678;
    --color-background: #f6eedc;
    --font-base: 'Roboto', sans-serif;
    --spacing-base: 1rem;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-secondary);
    transition: color 0.2s ease-in-out;
}

* {
    font-family: 'Cardo', sans-serif;
    font-style: normal;
}

body {
    margin: 0;
}

.link {
    cursor: pointer;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.italic {
    font-style: italic;
}

h1 {
    font-size: 26pt;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
}